In [9]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [10]:
df = pd.read_csv('datawithnewcols.csv',index_col = 0)

In [11]:
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,view,condition,...,sqft_living15,sqft_lot15,Age_of_House,Years_last_renovation,Total_Sqft,basement,distance_from_city,distance_from_airport,sqft_living_comparison,sqft_lot_comparison
0,7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0.0,3,...,1340,5650,65,65,1180.0,False,12.251612,8.232375,88.059701,100.000000
1,6414100192,2014-12-09,538000.0,3,2.25,2570,7242,2.0,0.0,3,...,1690,7639,69,29,2570.0,True,12.613856,30.859494,152.071006,94.802985
2,5631500400,2015-02-25,180000.0,2,1.00,770,10000,1.0,0.0,3,...,2720,8062,87,87,770.0,False,16.333282,33.112379,28.308824,124.038700
3,2487200875,2014-12-09,604000.0,4,3.00,1960,5000,1.0,0.0,5,...,1360,5000,55,55,1960.0,True,10.617501,10.988905,144.117647,100.000000
4,1954400510,2015-02-18,510000.0,3,2.00,1680,8080,1.0,0.0,3,...,1800,7503,33,33,1680.0,False,21.759524,27.230991,93.333333,107.690257

In [12]:
df.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'view', 'condition', 'grade', 'sqft_above',
       'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode', 'lat', 'long',
       'sqft_living15', 'sqft_lot15', 'Age_of_House', 'Years_last_renovation',
       'Total_Sqft', 'basement', 'distance_from_city', 'distance_from_airport',
       'sqft_living_comparison', 'sqft_lot_comparison'],
      dtype='object')

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21597 entries, 0 to 21596
Data columns (total 28 columns):
id                        21597 non-null int64
date                      21597 non-null object
price                     21597 non-null float64
bedrooms                  21597 non-null int64
bathrooms                 21597 non-null float64
sqft_living               21597 non-null int64
sqft_lot                  21597 non-null int64
floors                    21597 non-null float64
view                      21597 non-null float64
condition                 21597 non-null int64
grade                     21597 non-null int64
sqft_above                21597 non-null int64
sqft_basement             21597 non-null float64
yr_built                  21597 non-null int64
yr_renovated              21597 non-null int64
zipcode                   21597 non-null int64
lat                       21597 non-null float64
long                      21597 non-null float64
sqft_living15             21597 non-null int64
sqft_lot15                21597 non-null int64
Age_of_House              21597 non-null int64
Years_last_renovation     21597 non-null int64
Total_Sqft                21597 non-null float64
basement                  21597 non-null bool
distance_from_city        21597 non-null float64
distance_from_airport     21597 non-null float64
sqft_living_comparison    21597 non-null float64
sqft_lot_comparison       21597 non-null float64
dtypes: bool(1), float64(12), int64(14), object(1)
memory usage: 4.6+ MB